<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    
    <style>
        .inlineList {
            display: flex;
            flex-direction: row;
            justify-content: flex-start; 
            list-style: none;
            padding: 0;
            white-space: nowrap;
            background-color: rgb(237, 248, 141);
            width:680px;
            }
        .nav-link{
            font-weight: bold;
        }
        .nav-link:hover{
            background-color: rgb(233, 248, 96);
        }
    </style>
    <title>PDF MERGER</title>
</head>
<body>
    <ul class="inlineList">
        <li>
        <a class="nav-link" href="http://127.0.0.1:5000/pdfMerger">PDFmerger all at once</a>
        </li>
        <li>
        <a class="nav-link" href="http://127.0.0.1:5000/pdfMergerOrdered">PDFmerger Specific in Order</a>
        </li>
        <li>
        <a class="nav-link" href="http://127.0.0.1:5000/pdfToText">PDF to TEXT</a>
        </li>
        <li>
        <a class="nav-link" href="http://127.0.0.1:5000/splitPdf">Split PDF</a>
        </li>
    </ul>

{% block body %}
{% endblock %}



<!-- Bootstrap core JavaScript -->
<script src="{{url_for('static', filename='vendor/jquery/jquery.min.js')}}"></script>
<script src="{{url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
</body>

</html>