{% extends 'layout.html' %}
{% block body %}

<form action="/pdfToText" method='post' style="padding:20px; background-color: rgb(221, 221, 220); width:300px;">
    <div class="form-group">
        <label>Select the PDF Files</label>
        <input type="file" class="form-control-file" name="filename" accept="application/pdf" multiple required>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
<br/><br/>
</div>
<div class="form-group">
    <label><b>Comment:</b></label>
    <textarea class="form-control" rows="50" id="outputArea" name="outputArea" style="width:580px;">{{convertedData}}</textarea>
</div>

{% endblock %}