{% extends 'layout.html' %}
{% block body %}


 <!-- Page Header -->
 <header class="masthead" style="">
   <div class="overlay"></div>
   <div class="container">
     <div class="row">
       <div class="col-lg-8 col-md-10 mx-auto">
         <div class="site-heading">
           <h1>PDF Handling</h1>
           <span class="subheading"></span>
         </div>
       </div>
     </div>
   </div>
 </header>

   <!-- Main Content -->
   <div class="container-fluid"  style="padding:20px; background-color: rgb(221, 221, 220);">
      <div class="row justify-content-center align-items-center">     
         <div class="col-sm-6 col-lg-4">
            <form action="/upload" method="post" enctype='multipart/form-data'>
               <div class="form-group">
                  <label>Select the PDF Files</label>
                  <input type="file" class="form-control-file" name="file[]" accept="application/pdf" multiple>
               </div>
               <button type="submit" class="btn btn-primary">Submit</button>
            </form> 
         </div>
     
         <div class="col-sm-4 col-lg-4">
            {% if file_name!="Nothing Selecting" %}
            <span style="color:rgb(50, 197, 63); text-decoration:none; font-weight:bold;"><b>{{file_name}}</b></span>
            {% endif %}
         </div>
   </div>
</div>

<!-- <script>
    $(function(){
       $("input[type='submit']").click(function(){
          var $fileUpload=$("input[type='file']");
          if (parseInt($fileUpload.get(0).files.length)>3){
             alert("You are only allowed to upload a maximum of 3 files");
          }
       });
    });
 </script> -->


{% endblock %}